
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by kaku</p>
  </div>
</div>

</body> 
<script>
  function menuWork(){
 var menu =  document.querySelector('.menu')
menu.classList.toggle('active')       
 var menuIcon =  document.querySelector('.menuIcon') 
menuIcon.classList.toggle('active')  
}        

    
  


</script>
</html>
